/target
.api.json
/.vscode
/test.sh
/worker/dist
/worker/.wrangler
node_modules
.DS_Store
wrangler.deploy.toml
.env
.wrangler
/dist
/web/out
/web/out-extension
/web/extension-dist
common/src/*.json

# React Frontend
.next
out
dist-ssr
*.local
*.log
web/dist/stats.html
